{{set . "title" "Flowdle"}}
{{set . "tasksActive" "active"}}

{{append . "moreStyles" "css/flowdle.css"}}
{{append . "moreStyles" "css/tagmanager.css"}}
{{append . "moreScripts" "js/flowdle.js"}}
{{append . "moreScripts" "js/tagmanager.js"}}
{{template "header.html" .}}

{{template "nav.html" .}}
    <input type="hidden" id="selected-tag" value="{{.tag}}" /> {{/*I hate this*/}}
    <div class="container-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Tasks</li>
              <li class="all-tasks"><a href="/tasks">All</a></li>
              <li><a href="#">Completed</a></li>
              <li><a href="#">No Tag</a></li>
              <li class="nav-header">Your Tags</li>
              {{if .tags}}
                {{range $index, $element := .tags}}
                  <li><a href="/tasks/{{$element}}">{{$element}}</a></li>
                {{end}}
              {{end}}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span10">
          <div class="hero-unit tasklist hiding">
  	  		 <form action="/tasks" method="POST">
  	  			<input type="text" name="task.Name" class="newTask" maxlength="200" autocomplete="off" tabindex="1" />
  	  			<div class="task-details">
  	  				<div class="row">
  	  					<div class="span7">
                  <input type="hidden" id="tags" value="Urgent" >
  	  						<input type="text" id="tagentry" maxlength="1000" name="task.TagString"
                      autocomplete="off" tabindex="2" placeholder="Tags" class="tm-input" />
                </div>
                <div class="span1">
                  <input type="submit" value="Add" class="btn btn-primary btn-medium submit" />
                </div>
  	  				</div>
  	  			</div>
  	  		 </form>
          </div>
              {{if .tasks}}
              <div class="container tasks well">
                {{range $index, $element := .tasks}}
                <div class="task task-{{$index}} {{if .RelCompleted}}complete{{end}}">
                    <input type="checkbox" id="chk{{$index}}" data-id="{{.Id}}" {{if .RelCompleted}}checked="checked"{{end}} />
                    <label for="chk{{$index}}">{{.Name}}</label>
                    <div class="btn-group"> 
                      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="/task/{{$index}}/edit">Edit</a></li>
                        <li><a href="/task/{{$index}}/delete">Purge</a></li>

                      </ul>
                    </div>
                    <div class="tagstring relative-time">
                      {{if .Tags}}
                      <span class="tags">{{.Tags}}</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                      {{end}}
                      {{.RelCreated}} 
                      {{if .RelCompleted}}
                      <span class="date-completed">&nbsp;&nbsp;|&nbsp;&nbsp; <em>Completed: {{.RelCompleted}}</em></span>
                      {{end}}
                    </div>
                </div>
                {{end}}
              </div>
              {{else}}
                 <h3>You have no tasks</h3>
                  <p>Enter some tasks to get going!  Your tasks are organized by tag.  When you enter a task, you can select which tags you'd like to add to it.  Your tasks are accessible via the left navigation.</p>
                <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
              {{end}}
        </div>

    </div> <!-- /container -->


{{template "footer.html" .}}