<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- v4 -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flowdle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/base.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/facebox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script src="/javascripts/json2.js" type="text/javascript"></script>
    <script src="/javascripts/rpc.js" type="text/javascript"></script>
    <script src="/javascripts/facebox.js" type="text/javascript"></script>
    <script src="/javascripts/common.js" type="text/javascript"></script>
    <script src="/javascripts/japp.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="topmenu">
      <p>{{user.email}} | <a href="/feedback" rel="facebox" id="feedback">Feedback</a> | <a href="/settings">Settings</a> | <a href="http://flowdle.blogspot.com">Blog</a> | <a href="/logout">Logout</a></p>
           <div class="logo">
             <img src="/images/logo.gif" alt="Flowdle" id="logo" />
    <!--#config timefmt="%A" --> <!--#echo var="DATE_LOCAL" -->
           </div>
    </div>
    {{path}}
    <form id="taskForm" name="taskForm" action="{{formaction}}" method="post">
    <input type="hidden" name="taskkey" id="taskkey" />
    <div id="newtask" class="hiding">
        <input type="text" class="taskname" id="taskname" name="taskname" maxlength="200" tabindex="1" autocomplete="off" value="{{edittask.name}}" />
        <div class="items">
            <table cellpadding="3" cellspacing="3">
            <tr><th>Tags:</th>
            <td><input type="text" class="text" id="taglist" name="taglist" tabindex="2" value="{{tagdefault}}" autocomplete="off" />
             <div class="commontags">
             </div>
            </td>
            </tr>
            <tr>
                <th><label for="nudgelist">Nudge me:</label></th>
                <td>
                    <select name="nudge" id="nudge" tabindex="3">
                        <option value="never" {% ifequal subscriber.nudge 'never' %}selected{% endifequal %}>Never</option>
                        <option value="frequently" {% ifequal subscriber.nudge 'frequently' %}selected{% endifequal %}>Frequently*</option>
                        <option value="daily" {% ifequal subscriber.nudge 'daily' %}selected{% endifequal %}>Every Day</option>
                        <option value="weekly" {% ifequal subscriber.nudge 'weekly' %}selected{% endifequal %}>Every Week</option>
                        <option value="monthly" {% ifequal subscriber.nudge 'monthly' %}selected{% endifequal %}>Every Month</option>
                        <option value="yearly" {% ifequal subscriber.nudge 'yearly' %}selected{% endifequal %}>On Date</option>
                    </select>
                    <label style="display:none;" id="nudge_label">until complete</label>
                    <fieldset id="nudge_week" class="nudge_week hiding"> 
                        <input type="radio" id="nudge_1" name="nudge_day" value="1" tabindex="4" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '1' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_1">Monday</label>
                        <input type="radio" id="nudge_2" name="nudge_day" value="2" tabindex="5" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '2' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_2">Tuesday</label>
                        <input type="radio" id="nudge_3" name="nudge_day" value="3" tabindex="6" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '3' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_3">Wednesday</label>
                        <input type="radio" id="nudge_4" name="nudge_day" value="4" tabindex="7" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '4' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_4">Thursday</label>
                        <input type="radio" id="nudge_5" name="nudge_day" value="5" tabindex="8" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '5' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_5">Friday</label>
                        <input type="radio" id="nudge_6" name="nudge_day" value="6" tabindex="9" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '6' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_6">Saturday</label>
                        <input type="radio" id="nudge_7" name="nudge_day" value="7" tabindex="10" {% ifequal subscriber.nudge 'weekly' %}{% ifequal subscriber.nudge_value '7' %}checked="checked"{% endifequal %}{% endifequal %} /><label for="nudge_7">Sunday</label>
                    </fieldset>
                    <fieldset id="nudge_month" class="nudge_month hiding">
                        <label for="nudge_month_value">Day of the Month:</label>
                        <input type="text" class="text" id="nudge_month_value" name="nudge_month_value" tabindex="11" value="{% ifequal subscriber.nudge 'monthly' %}{% ifnotequal subscriber.nudge_value 'None' %}{{subscriber.nudge_value}}{% else %}15{% endifnotequal %}{% endifequal %}">
                    </fieldset>
                    <fieldset id="nudge_year" class="nudge_year hiding">
                        <label for="nudge_year_value">Specific Date:</label>
                        <input type="text" class="text" id="nudge_year_value" name="nudge_year_value" tabindex="12" maxlength="10" value="{% ifequal subscriber.nudge 'yearly' %}{{subscriber.nudge_value}}{% else %}01/31{% endifequal %}" />
                    </fieldset>
                    <fieldset id="nudge_frequently" class="nudge_frequently hiding">
                        <label>* nudges will be sent every time our service runs (currently every 2 hours)</label>
                    </fieldset>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="checkbox" id="repeat" name="repeat" value="True" tabindex="12"><label for="repeat">Repeat this task after completed</label>
                </td>
            </tr>
            </table><div class="buttons">
                <input type="hidden" name="editkey" id="editkey" value="">
                <input type="submit" value="Save" class="bigbutton" id="save" name="save"  tabindex="13"/>
                <input type="button" value="Cancel" class="bigbutton" id="cancel" name="cancel"  tabindex="14"/>
            </div>
        </div>
    </div> <!-- #newtask -->
    </form>
    <h5 id="msgTitle">{{title}}</h5>
    <table id="mainTable">
        <tr>
            <td class="left"><div id="tags">
                    <ul>
                        {% ifnotequal tagtitle 'All' %}
                            <li><strong><a href="/app/all">All</a></strong></li>
                        {% else %}
                            <li><strong>All</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'Completed' %}
                            <li><strong><a href="/app/completed">Completed</a></strong></li>
                        {% else %}
                            <li><strong>Completed</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'No Tag' %}
                            <li><strong><a href="/app/notag">No Tag</a></strong></li>
                        {% else %}
                            <li><strong>No Tag</strong></li>
                        {% endifnotequal %}
                        
                            <li>&nbsp;</li>
                        {% autoescape off %}{{taglinks}}{% endautoescape %}
                    </ul>
                </div> <!-- #tag -->
            </td>
            <td id="right" {% ifequal hastasks 0 %}class="notasks"{% endifequal %}>
                <img src="/images/spacer.gif" width="500" height="1" alt="" />
                <table id="biglist">
                    {% for task in alltasks %}
                    <tr id="tr{{task.key}}">
                        <td class="left">
                            <input type="checkbox" class="checkbox" id="check{{task.key}}" {% ifequal task.complete 1 %}checked="checked" {% ifequal task.repeat 1 %}disabled="disabled"{% endifequal %}{% endifequal %} />
                            <label id="name{{task.key}}" for="check{{task.key}}" {% ifequal task.complete 1 %}class="complete"{% endifequal %}>{{task.name}}</label>
                            <p class="tags">{% for tag in task.tags %}{{tag}} {% endfor %}</p>
                        </td>
                        <td class="right">
                            <span id="nudge{{task.key}}" {% ifequal task.complete 1 %}class="complete"{%endifequal%}>
                                {% ifequal task.complete 1 %}
                                    Done on {{task.complete_date.month}}/{{task.complete_date.day}}/{{task.complete_date.year}}
                                    {% ifequal task.repeat 1 %}
                                        <br />(repeat created)
                                    {% endifequal %}
                                {% else %}
                                Nudge me {{task.nudge}}{% ifequal task.repeat 1 %} (repeats)
					{% ifnotequal task.last_complete None %}
					<br />(last completed {{task.last_complete.month}}/{{task.last_complete.day}}/{{task.last_complete.year}}){% endifnotequal %}{% endifequal %}
                                {% endifequal %}
                            </span>
                        </td>
                        
                        <td class="right">
                            <a class="editlink" {% ifequal task.complete 1 %}style="display:none"{% endifequal %} id="edit{{task.key}}">Edit</a>
                        </td>
                        <td class="right">
                            <a class="deletelink" {% ifequal task.complete 1 %}style="display:none"{% endifequal %} id="delete{{task.key}}">Delete</a>
                        </td>
                    </tr>

                    {% endfor %}
                </table> <!-- #biglist -->
                {% ifequal hastasks 1 %}
                <div id="tablemenu">
                    Sort by: <a href="{{formaction}}?s=0{% ifequal orderDir 'ASC' %}&amp;o=1{% else %}&amp;o=0{% endifequal %}">time</a>, 
                             <a href="{{formaction}}?s=1{% ifequal orderDir 'ASC' %}&amp;o=1{% else %}&amp;o=0{% endifequal %}">name</a>, 
                             <a href="{{formaction}}?s=2{% ifequal orderDir 'ASC' %}&amp;o=1{% else %}&amp;o=0{% endifequal %}">nudge</a>
                </div>
                {% endifequal %}
            </td> <!-- #right -->
        </tr>       
    </table>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4440510-2");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
