<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flowdle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript">google.load("jquery", "1.2.6");</script>
	<script type="text/javascript">
	    $(document).ready(function(){
	        $('#who').click(function(){
	            if($(this).val() == 'Enter your email') {
	                $(this).val('');
	            }
	        });
	    });
	</script>    
  </head>
  <body>
	<div id="frame">
	    <div id="inner">
            <a href="/app/all"><img src="/images/logo.gif" alt="Flowdle" /></a> 
            <span class="is">is...</span>
            <span class="hint">(<a class="light" href="http://en.wikipedia.org/wiki/Flow_(psychology)">flow</a> + <a class="light" href="http://en.wikipedia.org/wiki/Doodling">doodle</a>)</span>
            <div class="line"></div>
            <h5>currently in private beta.</h5>
            <p class="center">Beta User? <a href="/app">Click here</a></p>
            <div class="line"></div>
            <div class="bottom">
                <form action="/closed" method="post">
                    <input type="text" name="who" id="who" class="who" value="Enter your email" />
                    <input type="button" value="Request Invite" class="request button" />
                </form>
            </div>
        </div>
	</div>
  </body>
</html>
