{{set . "title" "Flowdle"}}
{{append . "moreStyles" "css/home.css"}}
{{template "header.html" .}}

<header class="hero-unit">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <a href="/tasks"><h1><img src="/public/img/logo.gif" /></h1></a>
        <p></p>
      </div>
    </div>
  </div>
</header>
<div class="container" style="margin: 0 auto;">
  <div class="row">
    <div class="span4">
      <h2>Simple</h2>
      <p>Flowdle lets you enter your tasks in a concise way.  Tasks should be simple descriptions &amp; therefore Flowdle limits you to only 200 characters per task.</p>
    </div>
    <div class="span4">
      <h2>Quick</h2>
      <p>Entering tasks shouldn't break your flow. Flowdle's UI is meant for quickly entering &amp; finding your tasks.</p>
    </div>
    <div class="span4">
      <h2>Organized</h2>
      <p>Sometimes an item on your list crosses over with other things.  So why have a list? Instead create, hierarchies and order via tags. Flowdle lets you enter your tasks with as many -- or as few -- tags as you'd like.</p>
    </div>
  </div>
  <div class="row center">
    <div class="span12" style="text-align:center; margin-top: 50px">
      <!-- <a href="/auth" class="btn btn-primary btn-large">Check it Out</a> -->
      <a href="/auth">
        <img width="250" src="https://developers.google.com/accounts/images/sign-in-with-google.png" />
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
