
#newtask {
	min-height: 50px;
	margin-left: 30px;
	position: relative;
}

#newtask .taskname, #newtask .items .taglist {
	font-family: Helvetica,Arial,Sans-Serif;
}

#newtask .items {
	margin: 10px 0 20px 0;
}
#newtask div {
	margin: 10px;
}
#newtask .items .text {
	font-size: 14px;
	width: 400px;
	padding: 3px;
}
#newtask #nudge_month_value, 
#newtask #repeat_month_value, 
#newtask #nudge_year_value {
    width: 50px;
}
#newtask .items td,
#newtask .items th {
    padding: 7px;
}
#newtask .items th {
    text-align: right;
}
#newtask .items .commontags {
	margin: 5px 0 3px 40px;
}

#newtask fieldset {
    margin: 10px 0 0 0;
}

#newtask .taskname {
	font-size: 18px;
	padding: 10px;
	width: 600px;
	background-color: #FFFFFF;
}

#newtask.hiding .taskname {
	background: url(/images/haveto.gif) #FFFFFF no-repeat 20px 8px;
}

#newtask input.hiding, #newtask fieldset.hiding {
	display: none;
}

#newtask .nudge_date,
#newtask .repeat_date {
	width: 90px;
}

#newtask .buttons #mainTablebutton {
	background-color: #EEE;
	font-weight: bold;
	font-size: 15px;
}

#newtask select {
    font-size: 15px;
    margin: 3px;
}

#newtask.hiding .items {
	display: none;
}

#biglist {
	width: 100%;
}

#biglist .left {
	width: 60%;
	position: relative;
}

#biglist .left label {
    font-weight: bold;
    color: #333;
    line-height: 18px;
}

#biglist .left label.complete {
    text-decoration: line-through;
    color: #AAAAAA;
}

#biglist .left p {
    color: #AAA;
    font-size: 12px;
    margin: 2px 0 0 24px;
}

#biglist td {
	padding: 7px;
}

#biglist span.complete {
    color: #AAAAAA;
}

#biglist .editlink,
#biglist .deletelink {
    cursor: pointer;
    font-weight: bold;
    color: #009BF4;
    padding: 4px;
}

#biglist a:hover,
a.close:hover {
	color: #FFFFFF;
}
