body {
    padding-top: 80px;
	background: url(../img/oldgradient.gif) repeat-x;
	margin: 0 auto;
}
[class*=" icon-"] {
	background-image:url("../img/glyphicons-halflings-grey.png") !important;
}
.navbar-inner, .navbar, .navbar-innverse, .navbar-fixed-top {
	background: #444 !important;
}
.navbar .logo {
	margin-left: 20px;
}
.navbar .login {
	margin: 12px 20px 0 0;
	float: right;
	color: #ddd;
}
.navbar .login a {
	padding: 5px;
}
.navbar .login a:hover {
	background: #ddd;
	color: #333;
	text-decoration: none;
}
.navbar .avatar {
	height: 35px;
}
input {
	border: 1px solid #CCC !important;
}
.newTask {
	font-size: 18px !important;
	padding: 10px !important;
	width: 590px;
	height: 21px !important;
	background-color: #FFFFFF;
	font-family: Helvetica,Arial,Sans-Serif !important;
}

.hiding .newTask {
	background: url(../img/haveto.gif) #FFFFFF no-repeat 8px 8px;
}

.hiding .task-details {
	display: none;
}

.hero-unit {
	padding: 0;
	margin: 0;
	background-color: transparent;
}
.hero-unit form {
	padding: 0;
	margin: 0;
}

.well {
	background-color: #fff;
}

.tags-title{
	line-height: 40px;
}

#tagentry { 
	width: 75px;
}
#tagentry {
	margin-top: 5px;
}

.tasks {
	background: #fff;
	padding: 10px;
	margin: auto 0;
}

.tasks input {
	margin: 0 0 5px 0;
}
.tasks label {
	display: inline;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}
.tasks .task .date-completed {
	display: none;
}
.tasks .task {
	padding: 15px 0;
}
.tasks .task-0 {
	padding-top: 0px;
}
.tasks .task.complete label {
	text-decoration: line-through;
	color: #AAA;
}
.tasks .task.complete .date-completed {
	display: inline;
}
.tasks .task .btn {
	padding: 2px 5px;
	border: none;
	box-shadow: inherit;
	background: none;
}
.tasks .task .relative-time {
	color: #AAA;
	font-size: 12px;
	padding: 0;
	margin: -10px 0 0 17px;
}