body {
	background: url(/images/newgradient.gif) repeat-x;
	width: 100%;
	font-family: Helvetica,Arial,Sans-Serif;
	font-size: 16px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

h5 {
    font-size:14px;
    font-weight: bold;
    color: #777;
    margin: 3px 0 0 120px;
}

input {
    border: 1px solid #CCC;
}

.clear {
  clear:both;
  height:1px;
  overflow:hidden;
}

a:active, a:visited, a:link {
	color: #009BF4;
	text-decoration: none;
	padding: 4px;
}
a:hover {
	color: #FFFFFF;
	background-color: #009BF4;
}

#topmenu {
	width: 100%;
	position: relative;
	text-align: right;
	height: 70px;
}

#topmenu p {
	margin: 5px 30px 0 0;
	font-weight: bold;
	font-size: 12px;
	color: #CCC;
}

#topmenu .logo {
	position: absolute;
	top: 0px;
	left: 10px;
}

#newtask {
	min-height: 50px;
	margin-left: 30px;
	position: relative;
}

#newtask .taskname, #newtask .items .taglist {
	font-family: Helvetica,Arial,Sans-Serif;
}

#newtask .items {
	margin: 10px 0 20px 0;
}
#newtask div {
	margin: 10px;
}
#newtask .items .text {
	font-size: 14px;
	width: 400px;
	padding: 3px;
}
#newtask #nudge_month_value {
    width: 50px;
}
#newtask .items td {
    padding: 7px;
}
#newtask .items .commontags {
	margin: 5px 0 3px 40px;
}

#newtask fieldset {
    margin: 10px 0 0 0;
}

#newtask .taskname {
	font-size: 18px;
	padding: 10px;
	width: 600px;
	background-color: #FFFFFF;
}

#newtask.hiding .taskname {
	background: url(/images/haveto.gif) #FFFFFF no-repeat 20px 8px;
}

#newtask input.hiding, #newtask fieldset.hiding {
	display: none;
}

#newtask .nudge_date {
	width: 90px;
}

#newtask .buttons #mainTablebutton {
	background-color: #EEE;
	font-weight: bold;
	font-size: 15px;
}

#newtask select {
    font-size: 15px;
    margin: 3px;
}

#newtask .bigbutton {
    font-size: 18px;
    margin: 5px;
}

#newtask.hiding .items {
	display: none;
}

#mainTable {
	margin: 10px 200px 10px 30px;
}

#mainTable #tags {
	min-width: 20px;
	text-align: right;
	margin: 0 10px 0 0;
}

#mainTable #tags ul {
	padding: 5px 0 5px 0;
}

#mainTable #tags li {
	padding: 3px 0 3px 0;
}

#mainTable #tags li strong {
    font-weight: bold;
}

#mainTable #right {
	background-color: #FEFEFE;
	vertical-align: top;
	padding: 10px;
	width: 100%;
	margin: 0 200px 0 0;
}

#mainTable #right .head {
	position: relative;
}

#mainTable #right #tablemenu {
    text-align: left;
    font-size: 12px;
    margin: 30px 30px 0 0;
}

#biglist {
	width: 100%;
}

#biglist .left {
	width: 70%;
}

#biglist .left label.complete {
    text-decoration: line-through;
    color: #AAAAAA;
}

#biglist td {
	padding: 7px;
}

#biglist .editlink {
    cursor: pointer;
    font-weight: bold;
    color: #009BF4;
    padding: 4px;
}

#biglist a:hover {
	color: #FFFFFF;
}

#mainTable #ads {
	padding: 200px 0 0 0;
}

p.copyright {
	text-align: center;
	font-size: 10px;
	margin: 10px 0 0 0;
}
