body {
	background: url(/images/gradient.gif) repeat-x;
	width: 100%;
	font-family: Helvetica,Arial,Sans-Serif;
	font-size: 14px;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

.clear {
  clear:both;
  height:1px;
  overflow:hidden;
}

#topmenu {
	width: 100%;
	position: relative;
	text-align: right;
	height: 120px;
}

#topmenu p {
	margin: 5px 30px 0 0;
}

#topmenu .logo {
	position: absolute;
	top: 0px;
	left: 10px;
}

#newtask {
	min-height: 50px;
	margin-left: 30px;
	position: relative;
}

#newtask .taskname, #newtask .items .taglist {
	font-family: Helvetica,Arial,Sans-Serif;
}

#newtask .items {
	margin: 10px 0 20px 0;
}
#newtask div {
	margin: 10px;
}
#newtask .items .taglist {
	font-size: 12px;
	width: 400px;
	padding: 3px;
}

#newtask .items .commontags {
	margin: 5px 0 3px 40px;
}

#newtask .taskname {
	font-size: 18px;
	padding: 5px;
	width: 500px;
}

#newtask input.hiding {
	display: none;
}

#newtask .nudge_date {
	width: 90px;
}

#newtask .buttons #mainTablebutton {
	background-color: #EEE;
	font-weight: bold;
	font-size: 15px;
}

#newtask.hiding .taskname {
	background: url(/images/haveto.gif) no-repeat 3px 3px;
}

#newtask.hiding .items {
	display: none;
}

#mainTable {
	margin: 10px 200px 10px 30px;
}


#mainTable #tags {
	min-width: 20px;
	text-align: right;
	margin: 0 10px 0 0;
}

#mainTable #tags ul {
	padding: 5px 0 5px 0;
}

#mainTable #tags li {
	padding: 3px 0 3px 0;
}

#mainTable #tags li strong {
    font-weight: bold;
}

#mainTable #right {
	background-color: #FEF7DA;
	border: 1px solid #3A3A3A;
	vertical-align: top;
	padding: 10px;
	width: 100%;
	margin: 0 200px 0 0;
}

#mainTable #right .head {
	position: relative;
}

#mainTable #right .head h4 {
	position: absolute;
	top: 0px;
	left: 0px;
}

#mainTable #right .head .menu {
	text-align: right;
}

#biglist {
	width: 100%;
}

#biglist .left {
	width: 70%;
}

#biglist td {
	padding: 7px;
}

#biglist .editlink {
    color: #0000FF;
    cursor: pointer;
    text-decoration: underline;
}

#mainTable #ads {
	padding: 200px 0 0 0;
}

p.copyright {
	text-align: center;
	font-size: 10px;
	margin: 10px 0 0 0;
}
