body {
	text-align: center;
	background: url(/images/gradient.gif) repeat-x;
	width: 100%;
	min-height: 350px;
}

#main {
	width: 1000px;
	text-align: left;
	margin: 0pt auto;
}

#header, #content {
	position: relative;
	font-family: Helvetica,Arial,Sans-Serif;
	font-size: 16px;
}
#header {
	text-align:center;
}
#header .logo {
	padding: 30px 0 0 0;
}

#content {
	padding-top: 33px;
}

#content .red {
	color: #FF0000;
}

#content .button {
	text-align: center;
	padding-top: 32px;
}