#main {
	background: url(/images/gradient.gif) repeat-x;
	width: 100%;
	text-align: center;
}

#header {
	width: 500px;
	position: relative;
	padding: 200px 0 0 0;
	text-align: left;
	background: #444444;
}

#header .logo {
	padding: 50px 0 0 0;
}
