<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flowdle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    <script src="http://www.google.com/jsapi"></script>
    <script>
     google.load("prototype", "1.6.0.2");
     </script>
    <script src="/javascripts/app.js"></script>
    <!--[if lt IE 7]>
    <link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="/stylesheets/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="topmenu">
      <p>{{user.nickname}} | <a href="">Settings</a> | <a href="">Help</a> | <a href="{{signout}}">Logout</a></p>
           <div class="logo">
             <a href="/"><img src="/images/logo.png" alt="Flootle" /></a>
           </div>
    </div>
    {{path}}
    <form id="taskForm" name="taskForm" action="{{formaction}}" method="post">
    <div id="newtask" class="hiding">
        <input type="text" class="taskname" id="taskname" name="taskname" maxlength="200" value="{{edittask.name}}" />
        <div class="items">
            <table cellpadding="3" cellspacing="3">
            <tr><td>Tags:</td>
            <td><input type="text" class="taglist" id="taglist" name="taglist" value="{{tagdefault}}" />
             <div class="commontags">
             </div>
            </td>
            </tr>
            <tr>
                <td><label for="nudgelist">Nudge me:</label></td>
            <td>
            <select name="nudge" id="nudge">
                <option value="never">Never</option>
                <option value="daily">Every Day</option>
                <option value="weekly">Every Week</option>
                <option value="monthly">Every Month</option>
            </select>
            <fieldset id="nudge_week" class="nudge_week hiding"> 
                <input type="radio" id="nudge_monday" name="nudge_day" value="1" checked="checked" /><label for="nudge_monday">Monday</label>
                <input type="radio" id="nudge_tuesday" name="nudge_day" value="2" /><label for="nudge_tuesday">Tuesday</label>
                <input type="radio" id="nudge_wednesday" name="nudge_day" value="3" /><label for="nudge_wednesday">Wednesday</label>
                <input type="radio" id="nudge_thursday" name="nudge_day" value="4" /><label for="nudge_thursday">Thursday</label>
                <input type="radio" id="nudge_friday" name="nudge_day" value="5" /><label for="nudge_friday">Friday</label>
                <input type="radio" id="nudge_saturday" name="nudge_day" value="6" /><label for="nudge_saturday">Saturday</label>
                <input type="radio" id="nudge_sunday" name="nudge_day" value="7" /><label for="nudge_sunday">Sunday</label>
            </fieldset>
            
            <input type="text" class="nudge_day hiding" id="nudge_day" name="nudge_day" maxlength="10" value="07/31">
            </td>
            </tr>
            </table><div class="buttons">
                <input type="hidden" name="editkey" id="editkey" value="">
                <input type="submit" value="Save" class="bigbutton" id="save" name="save" />
                <input type="button" value="Cancel" class="bigbutton" id="cancel" name="cancel" />
            </div>
        </div>
    </div> <!-- #newtask -->
    </form>
    
    <table id="mainTable">
        <tr>
            <td class="left"><div id="tags">
                    <ul>
                        {% ifnotequal tagtitle 'All' %}
                            <li><strong><a href="/app/all">All</a></strong></li>
                        {% else %}
                            <li><strong>All</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'Completed' %}
                            <li><strong><a href="/app/completed">Completed</a></strong></li>
                        {% else %}
                            <li><strong>Completed</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'No Tag' %}
                            <li><strong><a href="/app/notag">No Tag</a></strong></li>
                        {% else %}
                            <li><strong>No Tag</strong></li>
                        {% endifnotequal %}
                        
                            <li>&nbsp;</li>
                        {{taglinks}}
                    </ul>
                </div> <!-- #tag -->
            </td>
            <td id="right">
                <img src="/images/spacer.gif" width="500" height="1" alt="" />

                <table id="biglist">
                    {% for task in alltasks %}
                    <tr>
                        <td class="left">
                            <input type="checkbox" onclick="setCheck(event)" class="checkbox" id="check{{task.key}}" />
                            <label id="name{{task.key}}" for="check{{task.key}}">{{task.name}}</lable>
                        </td>
                        <td class="right">Nudge me 
                            <span id="nudge">{% ifequal task.nudge 'specific' %}
                                {{task.nudge_date}}
                            {% else %}
                                {{task.nudge}}
                            {% endifequal %}</span>
                        </td>
                        <td class="right">
                            <a class="editlink" href="/app/edit/{{task.key}}" id="{{task.key}}">Edit</a>
                        </td>
                    </tr>

                    {% endfor %}
                </table> <!-- #biglist -->
            </td> <!-- #right -->
        </tr>       
    </table>
  </body>
</html>
