<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flowdle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css" />
    <script src="http://www.google.com/jsapi"></script>
    <script>
     google.load("prototype", "1.6.0.2");
     </script>
    <script src="/javascripts/json2.js"></script>
    <script src="/javascripts/rpc.js"></script>
    <script src="/javascripts/app.js"></script>
    <!--[if lt IE 7]>
    <link href="/stylesheets/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="/stylesheets/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  <body>
    <div id="topmenu">
      <p>{{user.email}} | <a href="/">Help</a> | <a href="/logout">Logout</a></p>
           <div class="logo">
             <img src="/images/logo.gif" alt="Flowdle" id="logo" />
    <!--#config timefmt="%A" --> <!--#echo var="DATE_LOCAL" -->
           </div>
    </div>
    {{path}}
    <form id="taskForm" name="taskForm" action="{{formaction}}" method="post">
    <input type="hidden" name="taskkey" id="taskkey" />
    <div id="newtask" class="hiding">
        <input type="text" class="taskname" id="taskname" name="taskname" maxlength="200" value="{{edittask.name}}" />
        <div class="items">
            <table cellpadding="3" cellspacing="3">
            <tr><td>Tags:</td>
            <td><input type="text" class="text" id="taglist" name="taglist" value="{{tagdefault}}" />
             <div class="commontags">
             </div>
            </td>
            </tr>
            <tr>
                <td><label for="nudgelist">Nudge me:</label></td>
                <td>
                    <select name="nudge" id="nudge">
                        <option value="never">Never</option>
                        <option value="daily">Every Day</option>
                        <option value="weekly">Every Week</option>
                        <option value="monthly">Every Month</option>
                    </select>
                    <label style="display:none;" id="nudge_label">until complete</label>
                    <fieldset id="nudge_week" class="nudge_week hiding"> 
                        <input type="radio" id="nudge_1" name="nudge_day" value="1" /><label for="nudge_1">Monday</label>
                        <input type="radio" id="nudge_2" name="nudge_day" value="2" /><label for="nudge_2">Tuesday</label>
                        <input type="radio" id="nudge_3" name="nudge_day" value="3" /><label for="nudge_3">Wednesday</label>
                        <input type="radio" id="nudge_4" name="nudge_day" value="4" /><label for="nudge_4">Thursday</label>
                        <input type="radio" id="nudge_5" name="nudge_day" value="5" /><label for="nudge_5">Friday</label>
                        <input type="radio" id="nudge_6" name="nudge_day" value="6" /><label for="nudge_6">Saturday</label>
                        <input type="radio" id="nudge_7" name="nudge_day" value="7" /><label for="nudge_7">Sunday</label>
                    </fieldset>
                    <fieldset id="nudge_month" class="nudge_month hiding">
                        <label for="nudge_month_val">Day of the Month:</label>
                        <input type="text" class="text" id="nudge_month_value" name="nudge_month_value" value="15">
                    </fieldset>
                    <input type="text" class="nudge_day hiding" id="nudge_day" name="nudge_day" maxlength="10" value="07/31">
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="checkbox" id="repeat" name="repeat" value="True"><label for="repeat">Repeat this task after completed</label>
                </td>
            </tr>
            </table><div class="buttons">
                <input type="hidden" name="editkey" id="editkey" value="">
                <input type="submit" value="Save" class="bigbutton" id="save" name="save" />
                <input type="button" value="Cancel" class="bigbutton" id="cancel" name="cancel" />
            </div>
        </div>
    </div> <!-- #newtask -->
    </form>
    <h5 id="msgTitle">{{title}}</h5>
    <table id="mainTable">
        <tr>
            <td class="left"><div id="tags">
                    <ul>
                        {% ifnotequal tagtitle 'All' %}
                            <li><strong><a href="/app/all">All</a></strong></li>
                        {% else %}
                            <li><strong>All</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'Completed' %}
                            <li><strong><a href="/app/completed">Completed</a></strong></li>
                        {% else %}
                            <li><strong>Completed</strong></li>
                        {% endifnotequal %}
                        
                        {% ifnotequal tagtitle 'No Tag' %}
                            <li><strong><a href="/app/notag">No Tag</a></strong></li>
                        {% else %}
                            <li><strong>No Tag</strong></li>
                        {% endifnotequal %}
                        
                            <li>&nbsp;</li>
                        {{taglinks}}
                    </ul>
                </div> <!-- #tag -->
            </td>
            <td id="right" {% ifequal hastasks 0 %}class="notasks"{% endifequal %}>
                <img src="/images/spacer.gif" width="500" height="1" alt="" />
                <table id="biglist">
                    {% for task in alltasks %}
                    <tr id="tr{{task.key}}">
                        <td class="left">
                            <input type="checkbox" class="checkbox" id="check{{task.key}}" {% ifequal task.complete 1 %}checked="checked" {% ifequal task.repeat 1 %}disabled="disabled"{% endifequal %}{% endifequal %} />
                            <label id="name{{task.key}}" for="check{{task.key}}" {% ifequal task.complete 1 %}class="complete"{% endifequal %}>{{task.name}}</label>
                        </td>
                        <td class="right">
                            <span id="nudge{{task.key}}" {% ifequal task.complete 1 %}class="complete"{%endifequal%}>
                                {% ifequal task.complete 1 %}
                                    Done on {{task.complete_date.month}}/{{task.complete_date.day}}/{{task.complete_date.year}}
                                    {% ifequal task.repeat 1 %}
                                        <br />(repeat created)
                                    {% endifequal %}
                                {% else %}
                                Nudge me {{task.nudge}}{% ifequal task.repeat 1 %} (repeats){% endifequal %}
                                {% endifequal %}
                            </span>
                        </td>
                        
                        <td class="right">
                            <a class="editlink" {% ifequal task.complete 1 %}style="display:none"{% endifequal %} id="edit{{task.key}}">Edit</a>
                        </td>
                        <td class="right">
                            <a class="deletelink" {% ifequal task.complete 1 %}style="display:none"{% endifequal %} id="delete{{task.key}}">Delete</a>
                        </td>
                    </tr>

                    {% endfor %}
                </table> <!-- #biglist -->
                {% ifequal hastasks 1 %}
                <div id="tablemenu">
                    Sort by: <a href="{{formaction}}?s=0{% ifequal orderDir 'ASC' %}&o=1{% endifequal %}">time</a>, 
                             <a href="{{formaction}}?s=1{% ifequal orderDir 'ASC' %}&o=1{% endifequal %}">name</a>, 
                             <a href="{{formaction}}?s=2{% ifequal orderDir 'ASC' %}&o=1{% endifequal %}">nudge</a>
                </div>
                {% endifequal %}
            </td> <!-- #right -->
        </tr>       
    </table>
  </body>
</html>
