<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flootle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/scripts/prototype-1.6.0.2.js"></script>
  </head>
  <body>
	<div id="main">
      <div id="header">
          <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Flootle" /></a>
          </div>
<h3>{{user.nickname}}</h3>
	  </div>
	  <div id="body">
		<div class="dashboard">
		This is the Dashboard
			
		</div>
	</div>
  </body>
</html>
