<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flowdle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
	<script src="http://www.google.com/jsapi"></script>
	<script>google.load("prototype", "1.6.0.2");</script>
	<script type="text/javascript" src="/scripts/main.js"></script>
  </head>
  <body>
	<div id="main">
      <div id="header">
          <div class="logo" style="text-align:center;">
            <a href="/"><img src="/images/logo.png" alt="Flootle" /></a>
          </div>
	  </div>
	  <div id="body" style="margin-top: 100px;">
		<div class="form">
            <a style="font-size:22px; font-family:Georgia, Helvetica;" href="/app">Check it out!</a>
	  </div>
	</div>
  </body>
</html>
