<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Flootle</title>
    <link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/scripts/prototype-1.6.0.2.js"></script>
	<style type="text/css">
		#main {
			width: 666px;
		}
	</style>
  </head>
  <body>
	<div id="main">
      <div id="header">
          <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="Flootle" /></a>
          </div>
	  </div>
	  <div id="content">
			Flootle uses Google Accounts to keep track of your Check Lists.  
			<br/><br/>
			Please click the button below to Sign Up using your Google Account.  
			<br/><br/>
			<span class="red">NOTE:</span> Flootle will not and cannot access your Google Account password.
			<br/><br/>
			<div class="button">
			 <a href="/dashboard"><img src="/images/signup.gif" alt="Sign Up Now!" /></a>
			</div>
	  </div> <!-- / #content -->
	</div> <!-- / #main -->
  </body>
</html>
