
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="logo">
          <a class="brand" href="/"><img src="/public/img/logo.png" alt="Flowdle" /></a>
          </div>
          <div class=" login">
            {{if .userimg}}
              <img src="{{.userimg}}" class="avatar" />
            {{end}}
            {{if .username}}
              {{.username}}&nbsp;&nbsp;|
              <a href="/auth/logout">Logout</a>
            {{end}}
          </div>
      </div>
    </div>